<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ошибка 404</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>

<div th:insert="property/navbar.html :: navbar"></div>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
    <div class="container">
        <h3>Ошибка 404</h3>
        <h4>Данной записи не существует</h4>
    </div>
</body>
</html>