<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все акты с филиалами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Все акты приема-передачи с филиалами</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Адрес филиала</th>
            <th scope="col">Инвентарник оборудования</th>
            <th scope="col">Модель оборудования</th>
            <th scope="col">Дата передачи</th>
            <th scope="col">Дата возврата</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="act : ${officesActs}">
            <tr>
                <td>
                    <a th:href="@{/act_rt_offices/{id}/edit(id = ${act.getId()})}">
                        <div th:text="${act.getId()}"></div>
                    </a>
                </td>
                <td th:text="${act.getOffice().getAddress()}"></td>
                <td th:text="${act.getDevice().getInventoryCard()}"></td>
                <td th:text="${act.getDevice().getNomenclature().getProducer()} + ', '
                    + ${act.getDevice().getNomenclature().getName()}"></td>
                <td th:text="${act.getDateOfTransmission()}"></td>
                <td th:text="${act.getDateOfReception()}"></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>

</body>
</html>