<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование акта</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Редактирование акта приема-передачи с контрагентом</h3>
    <form th:method="PATCH" th:action="@{/companies_act/{id}(id = ${editCompanyAct.getId()})}" style="display:inline">
        <label class="form-label" for="company">Контрагент: </label>
        <span class="d-inline-block" tabindex="0"
              data-bs-toggle="tooltip"
              data-bs-title="В данном поле отображаются все контрагенты, созданные в разделе 'Контрагенты'.
              Для создания контрагента перейдите в соответствующий раздел.">
                    <img th:src="@{/static/images/tooltip_icon.png}" style="width:20px; height:20px;"/>
        </span>
        <input class="form-control" id="company" th:field="*{editCompanyAct.company.inn}" list="companyList" required>
        <datalist id="companyList">
            <option th:each="company : ${companies}" th:value="${company.getInn()}" th:text="${company.getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('editCompanyAct.company')}"
             th:errors="*{editCompanyAct.company}">Company error</div>
<!--        <select class="form-control" th:field="*{companyAct.company.inn}" id="company" required>
            <option th:each="company : ${companies}" th:value="${company.getInn()}" th:text="${company.getName()}">
            </option>
        </select>-->
        <br/>
        <label class="form-label" for="device">Оборудование: </label>
        <span class="d-inline-block" tabindex="0"
              data-bs-toggle="tooltip"
              data-bs-title="В данном поле отображаются всё оборудование со статусом 'Работает (на складе)'.">
                    <img th:src="@{/static/images/tooltip_icon.png}" style="width:20px; height:20px;"/>
        </span>
        <input class="form-control" id="device" th:field="*{editCompanyAct.device.inventoryCard}" list="deviceList" autocomplete="off" required>
        <datalist id="deviceList">
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getNomenclature().getProducer()} + ' ' + ${device.getNomenclature().getName()}">
            </option>
            <option th:if="${!devicesInStock.contains(editCompanyAct.getDevice())}" th:value="${editCompanyAct.getDevice().getInventoryCard()}"
                    th:text="${editCompanyAct.getDevice().getNomenclature().getProducer()}
                    + ' ' + ${editCompanyAct.getDevice().getNomenclature().getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('editCompanyAct.device')}"
             th:errors="*{editCompanyAct.device}">Device error</div>
<!--        <select class="form-control" th:field="*{companyAct.device.inventoryCard}" id="device" required>
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getInventoryCard()} + ', ' + ${device.getNomenclature().getProducer()} +
                    ' ' + ${device.getNomenclature().getName()}">
            </option>
            <option th:value="${companyAct.getDevice().getInventoryCard()}"
                    th:text="${companyAct.getDevice().getInventoryCard()} + ', ' +
                    ${companyAct.getDevice().getNomenclature().getProducer()} + ' ' +
                    ${companyAct.getDevice().getNomenclature().getName()}">
            </option>
        </select>-->
        <br/>
        <label class="form-label" for="dateOfTransmission">Дата передачи: </label>
        <input class="form-control" type="date" th:field="*{editCompanyAct.dateOfTransmission}" id="dateOfTransmission" required>
        <div th:if="${#fields.hasErrors('editCompanyAct.dateOfTransmission')}"
             th:errors="*{editCompanyAct.dateOfTransmission}">Date of transmission error</div>
        <br/>
        <label class="form-label" for="dateOfReception">Дата приемки (возврата): </label>
        <input class="form-control" type="date" th:field="*{editCompanyAct.dateOfReception}" id="dateOfReception">
        <small id="dateOfReceptionTip" class="form-text text-muted">Если контрагент ещё пользуется оборудованием, оставьте поле пустым</small>
        <div th:if="${#fields.hasErrors('editCompanyAct.dateOfReception')}"
             th:errors="*{editCompanyAct.dateOfReception}">Date of reception error</div>
        <br/>
        <br/>
        <span class="d-inline-block" tabindex="0"
              data-bs-toggle="tooltip"
              th:attr="data-bs-title=${editCompanyAct.getDateOfReception() != null && !thisActIsLast
              ? 'Данный документ не является последним' : ''}">
            <input th:disabled="${editCompanyAct.getDateOfReception() != null && !thisActIsLast}"
                   class="btn btn-primary mb-3" type="submit" value="Обновить"/>
        </span>
    </form>
    <form th:method="DELETE" th:action="@{/companies_act/{id}(id = ${editCompanyAct.getId()})}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Удалить"/>
    </form>
    <form th:method="GET" th:action="@{/companies_act/show_all}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
    </form>
<!--    <form th:method="GET" th:action="@{/companies_act/{id}/new_reception(id = ${companyAct.getId()})}" style="display:inline">
        <span class="d-inline-block" tabindex="0"
                      data-bs-toggle="tooltip"
                      th:attr="data-bs-title=${companyAct.getDateOfReception() != ''  ? 'Документ о приемке уже создан' : ''}">
            <input th:disabled="${companyAct.getDateOfReception() != null}" class="btn btn-primary mb-3" type="submit" value="Создать акт о приемке"/>
        </span>
    </form>-->
<!--    <div th:if="${companyAct.getMoving() == 'Передача' && companyAct.getDevice().getStatus() == 'Работает (у клиента)'}">
        <a th:href="@{http://localhost:8080/companies_act/{id}/new_reception(id = ${companyAct.getId()})}">Создать документ приемки на основании этого акта</a>
    </div>
    <br/>-->
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
</body>
</html>