<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование акта МФУ</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Редактирование акта МФУ</h3>

    <form th:method="PATCH" th:action="@{/write-off_act/{id}(id = ${editWriteOffAct.getId()})}" style="display:inline">
        <label class="form-label" for="date">Дата: </label>
        <input class="form-control" type="date" th:field="*{editWriteOffAct.date}" id="date" required>
        <div th:if="${#fields.hasErrors('editWriteOffAct.date')}" th:errors="*{editWriteOffAct.date}">Date error</div>
        <br/>
        <label class="form-label" for="writeOffReason">Причина списания: </label>
        <input class="form-control" type="text" th:field="*{editWriteOffAct.writeOffReason}" id="writeOffReason">
        <div th:if="${#fields.hasErrors('editWriteOffAct.writeOffReason')}" th:errors="*{editWriteOffAct.writeOffReason}">Write off reason error</div>
        <br/>
        <label class="form-label" for="device">Выбор оборудования: </label>
        <span class="d-inline-block" tabindex="0"
              data-bs-toggle="tooltip"
              data-bs-title="В данном поле отображаются всё оборудование со статусом 'Не работает'.">
                    <img th:src="@{/static/images/tooltip_icon.png}" style="width:20px; height:20px;"/>
        </span>
        <input class="form-control" id="device" th:field="*{editWriteOffAct.device.inventoryCard}" list="deviceList" autocomplete="off" required>
        <datalist id="deviceList">
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getNomenclature().getProducer()} + ' ' + ${device.getNomenclature().getName()}">
            </option>
            <option th:if="${!devicesInStock.contains(editWriteOffAct.getDevice())}" th:value="${editWriteOffAct.getDevice().getInventoryCard()}"
                    th:text="${editWriteOffAct.getDevice().getNomenclature().getProducer()}
                    + ' ' + ${editWriteOffAct.getDevice().getNomenclature().getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('editWriteOffAct.device')}" th:errors="*{editWriteOffAct.device}">Device error</div>
<!--        <select class="form-control" th:field="*{writeOffAct.device.inventoryCard}" id="device" required>
            <option th:each="device: ${devicesOnStock}"
                    th:value="${device.getInventoryCard()}"
                    th:text="${device.getInventoryCard()} + ', ' + ${device.getNomenclature().getProducer()} +
                    ' ' + ${device.getNomenclature().getName()}"></option>
&lt;!&ndash;            <option selected th:value="*{writeOffAct.device.inventoryCard}"
                    th:text="*{writeOffAct.device.inventoryCard}"></option>&ndash;&gt;
            <option selected th:value="${writeOffAct.getDevice().getInventoryCard()}"
                    th:text="${writeOffAct.getDevice().getInventoryCard()} + ', ' + ${writeOffAct.getDevice().getNomenclature().getProducer()} +
                    ' ' + ${writeOffAct.getDevice().getNomenclature().getName()}"></option>
        </select>-->
        <br/>
<!--        <span class="d-inline-block" tabindex="0"
              data-bs-toggle="tooltip"
              data-bs-title='Данный документ не является последним'>
            <input disabled class="btn btn-primary mb-3" type="submit" value="Обновить"/>
        </span>-->
        <input class="btn btn-primary mb-3" type="submit" value="Обновить"/>
    </form>

    <form th:method="DELETE" th:action="@{/write-off_act/{id}(id = ${editWriteOffAct.getId()})}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Удалить">
    </form>

    <form th:method="GET" th:action="@{/write-off_act/show_all}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
    </form>

</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>

</body>
</html>