<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Редактирование карточки оборудования</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Редактирование карточки оборудования</h3>
    <div class="row">
        <div class="col-8">
            <form th:method="PATCH" th:action="@{/device/{ic}(ic = ${device.getInventoryCard()})}" style="display:inline">
                <label class="form-label" for="inventoryCard">Инвентарная карточка: </label>
                <input class="form-control" type="text" pattern="[^\/\\]+" th:field="*{device.inventoryCard}" id="inventoryCard" required>
                <div th:if="${#fields.hasErrors('device.inventoryCard')}"
                     th:errors="*{device.inventoryCard}">Inventory card error</div>
                <br/>
                <label class="form-label" for="serialNumber">Серийный номер: </label>
                <input class="form-control" type="text" th:field="*{device.serialNumber}" id="serialNumber" required>
                <div th:if="${#fields.hasErrors('device.serialNumber')}"
                     th:errors="*{device.serialNumber}">Serial number error</div>
                <br/>
                <label class="form-label" for="dateOfSupply">Дата приемки: </label>
                <input class="form-control" type="date" th:field="*{device.dateOfSupply}" id="dateOfSupply" required>
                <div th:if="${#fields.hasErrors('device.dateOfSupply')}"
                     th:errors="*{device.dateOfSupply}">Date error</div>
                <br/>
                <label class="form-label" for="nomenclature">Номенклатура: </label>
                <select class="form-control" th:field="*{device.nomenclature.id}" id="nomenclature" required>
                    <option th:each="avalNomenclature: ${avalNomenclatures}" th:value="${avalNomenclature.getId()}"
                            th:text="${avalNomenclature.getType()} + ' ' + ${avalNomenclature.getProducer()} + ' ' + ${avalNomenclature.getName()}"></option>
                </select>
                <br/>
                <label class="form-label" for="price">Цена: </label>
                <input class="form-control" type="number" th:field="*{device.price}" id="price" required>
                <div th:if="${#fields.hasErrors('device.price')}"
                     th:errors="*{device.price}">Price error</div>
                <br/>
                <label class="form-label" for="status">Статус: </label>
                <select class="form-control" th:field="*{device.status}" id="status" required>
                    <option th:each="status: ${statuses}" th:value="${status}" th:text="${status}"></option>
                </select>
                <br/>
                <label class="form-label" for="note">Примечание: </label>
                <input class="form-control" type="text" th:field="*{device.note}" id="note">
                <br/>
                <input class="btn btn-primary mb-3" type="submit" value="Обновить" >
            </form>
            <form th:method="DELETE" th:action="@{/device/{ic}(ic = ${device.getInventoryCard()})}" style="display:inline">
                <span class="d-inline-block" tabindex="0"
                              data-bs-toggle="tooltip"
                              th:attr="data-bs-title=${!acts.isEmpty() ? 'Данное оборудование имеет проведенные документы' : ''}">
                    <input th:disabled="${!acts.isEmpty()}" class="btn btn-primary mb-3" type="submit" value="Удалить"/>
                </span>
<!--                <span class="d-inline-block" tabindex="0"
                      data-bs-toggle="tooltip"
                      th:attr="data-bs-title=${haveDevices ? 'Данная номенклатура используется в карточке оборудования' : ''}">
                    <input th:disabled="${haveDevices}" class="btn btn-primary mb-3" type="submit" value="Удалить"/>
                </span>-->
            </form>
            <form th:method="GET" th:action="@{/device/show_all}" style="display:inline">
                <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
            </form>
        </div>
        <div class="col-4">
            <h5>История актов</h5>
            <div th:if="${acts.isEmpty()}">
                <a>История актов пуста</a>
            </div>
            <div class="list-group" id="acts">
                <a th:each="act: ${acts}" th:href="@{~/{link}(link = ${act.getLink()})}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1" th:text="${act.getMessage()}"></h6>
                    </div>
                    <small th:text="${act.getDate()}"></small>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>

</body>
</html>