<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование акта</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Редактирование акта приема-передачи с контрагентом</h3>
    <form th:method="PATCH" th:action="@{/companies_act/{id}(id = ${companyAct.getId()})}" style="display:inline">
        <label class="form-label" for="company">Компания: </label>
        <select class="form-control" th:field="*{companyAct.company.inn}" id="company" required>
            <option th:each="company : ${companies}" th:value="${company.getInn()}" th:text="${company.getName()}">
            </option>
        </select>
        <br/>
        <label class="form-label" for="device">Оборудование: </label>
        <select class="form-control" th:field="*{companyAct.device.inventoryCard}" id="device" required>
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getInventoryCard()} + ', ' + ${device.getNomenclature().getProducer()} +
                    ' ' + ${device.getNomenclature().getName()}">
            </option>
            <option th:value="${companyAct.getDevice().getInventoryCard()}"
                    th:text="${companyAct.getDevice().getInventoryCard()} + ', ' +
                    ${companyAct.getDevice().getNomenclature().getProducer()} + ' ' +
                    ${companyAct.getDevice().getNomenclature().getName()}">
            </option>
        </select>
        <br/>
        <label class="form-label" for="dateOfTransmission">Дата передачи: </label>
        <input class="form-control" type="date" th:field="*{companyAct.dateOfTransmission}" id="dateOfTransmission" required>
        <div th:if="${#fields.hasErrors('companyAct.dateOfTransmission')}"
             th:errors="*{companyAct.dateOfTransmission}">Date of transmission error</div>
        <br/>
        <label class="form-label" for="dateOfReception">Дата приемки (возврата): </label>
        <input class="form-control" type="date" th:field="*{companyAct.dateOfReception}" id="dateOfReception">
        <div th:if="${#fields.hasErrors('companyAct.dateOfReception')}"
             th:errors="*{companyAct.dateOfReception}">Date of reception error</div>
        <br/>
        <input class="btn btn-primary mb-3" type="submit" value="Обновить">
    </form>
    <form th:method="DELETE" th:action="@{/companies_act/{id}(id = ${companyAct.getId()})}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Удалить"/>
    </form>
    <form th:method="GET" th:action="@{/companies_act/show_all}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
    </form>
<!--    <form th:method="GET" th:action="@{/companies_act/{id}/new_reception(id = ${companyAct.getId()})}" style="display:inline">
        <span class="d-inline-block" tabindex="0"
                      data-bs-toggle="tooltip"
                      th:attr="data-bs-title=${companyAct.getDateOfReception() != ''  ? 'Документ о приемке уже создан' : ''}">
            <input th:disabled="${companyAct.getDateOfReception() != null}" class="btn btn-primary mb-3" type="submit" value="Создать акт о приемке"/>
        </span>
    </form>-->
<!--    <div th:if="${companyAct.getMoving() == 'Передача' && companyAct.getDevice().getStatus() == 'Работает (у клиента)'}">
        <a th:href="@{http://localhost:8080/companies_act/{id}/new_reception(id = ${companyAct.getId()})}">Создать документ приемки на основании этого акта</a>
    </div>
    <br/>-->
</div>
</body>
</html>