<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Гайд по статусам оборудования</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>

<div th:insert="property/navbar.html :: navbar"></div>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
    <div class="container">
        <h3>Гайд по статусам оборудования</h3>
        <h5>Все статусы</h5>
        <p>Каждое оборудование имеет один из шести статусов:</p>
        <ol>
            <li>Работает (на складе)</li>
            <li>Не работает</li>
            <li>Работает (у клиента)</li>
            <li>Передан в филиал</li>
            <li>Списан</li>
            <li>В ремонте</li>
        </ol>
        <h5>Изменение статуса оборудования</h5>
        <p>Первые два статуса пользователь может задавать сам при создании или редактировании карточки оборудования.
            Изменять статус оборудования в карточке оборудования потребуется, если оборудование перестало работать или было починено в отделе.
            В остальных случаях статус у оборудования меняется в зависимости от созданных документов с этим оборудованием.
            Ниже представлена таблица, показывающая как статус оборудования меняется при создании и редактировании документов различных видов.</p>
        <table class="table">
            <tr>
                <th>Созданный документ</th>
                <th>Старый статус оборудования</th>
                <th>Новый статус оборудования</th>
            </tr>
            <tr>
                <td>Создание акта приема-передачи с контрагентами (без даты возврата)</td>
                <td>Работает (на складе)</td>
                <td>Работает (у клиента)</td>
            </tr>
            <tr>
                <td>Добавление даты возврата в акте приема-передачи с контрагентами</td>
                <td>Работает (у клиента)</td>
                <td>Работает (на складе)</td>
            </tr>
            <tr>
                <td>Создание акта приема-передачи с филиалами (без даты возврата)</td>
                <td>Работает (на складе)</td>
                <td>Передан в филиал</td>
            </tr>
            <tr>
                <td>Добавление даты возврата в акте приема-передачи с филиалами</td>
                <td>Передан в филиал</td>
                <td>Работает (на складе)</td>
            </tr>
            <tr>
                <td>Создание акта МФУ</td>
                <td>Не работает</td>
                <td>Списан</td>
            </tr>
            <tr>
                <td>Создание акта приема-передачи с ремонтниками</td>
                <td>Не работает</td>
                <td>В ремонте</td>
            </tr>
            <tr>
                <td>Создание акта выполненных работ (без отметки о неисправности)</td>
                <td>В ремонте</td>
                <td>Работает (на складе)</td>
            </tr>
            <tr>
                <td>Создание акта выполненных работ (с отметкой о неисправности)</td>
                <td>В ремонте</td>
                <td>Не работает</td>
            </tr>
        </table>
        <p>При удалении документа статус меняется обратно. Например, при удалении акта приема-передачи с контрагентами (без даты возврата)
        статус оборудования с "Работает (у клиента)" поменяется на "Работает (на складе)".</p>
        <p>Редактирование статуса оборудования в его карточке блокируется,
            если последним документом оборудования был один из документов из списка ниже. В ином случае, возможность изменить статус есть.</p>
        <ol>
            <li>Акт приема-передачи с контрагентами (без даты возврата)</li>
            <li>Акт приема-передачи с филиалами (без даты возврата)</li>
            <li>Акт МФУ</li>
            <li>Акт приема-передачи с ремонтниками</li>
        </ol>
    </div>
</body>
</html>