<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание контрагента</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Создание контрагента</h3>
    <form th:method="POST" th:action="@{/company}" th:object="${company}" style="display:inline">
        <label class="form-label" for="inn">ИНН: </label>
        <input class="form-control" minlength="10" maxlength="12" placeholder="0001112222" type="text" th:field="*{inn}" id="inn" required>
        <div th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}">Inn error</div>
        <br/>
        <label class="form-label" for="name">Название: </label>
        <input class="form-control" type="text" th:field="*{name}" id="name" required>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br/>
        <label class="form-label" for="address">Адрес: </label>
        <input class="form-control" type="text" th:field="*{address}" id="address" required>
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
        <br/>
        <label class="form-label" for="chief">Директор: </label>
        <input class="form-control" type="text" th:field="*{chief}" id="chief" required>
        <div th:if="${#fields.hasErrors('chief')}" th:errors="*{chief}">Chief error</div>
        <br/>
        <label class="form-label" for="phoneNumber">Номер телефона: </label>
        <input class="form-control" placeholder="+79998887766" type="text" th:field="*{phoneNumber}" id="phoneNumber" required>
        <br/>
        <input class="btn btn-primary mb-3" type="submit" value="Создать">
    </form>
<!--    <form th:method="GET" th:action="@{/company/show_all}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
    </form>-->
    <br/>
</div>
</body>
</html>