<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание акта с филиалом</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Создание акта передачи оборудования с филиалом</h3>
    <form th:method="POST" th:action="@{/act_rt_offices}">
        <label class="form-label" for="office">Компания: </label>
        <select class="form-control" th:field="*{actRTOffices.office.id}" id="office" required>
            <option th:each="office : ${offices}" th:value="${office.getId()}" th:text="${office.getAddress()}">
            </option>
        </select>
        <br/>
        <label class="form-label" for="device">Карточка оборудования: </label>
        <input class="form-control" id="device" th:field="*{actRTOffices.device.inventoryCard}" list="deviceList" autocomplete="off" required>
        <datalist id="deviceList">
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getNomenclature().getProducer()} + ' ' + ${device.getNomenclature().getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('actRTOffices.device')}"
             th:errors="*{actRTOffices.device}">Device error</div>
<!--        <select class="form-control" th:field="*{actRTOffices.device.inventoryCard}" id="device" required>
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getInventoryCard()} + ', ' + ${device.getNomenclature().getProducer()} +
            ' ' + ${device.getNomenclature().getName()}">
            </option>
        </select>-->
        <br/>
        <label class="form-label" for="dateOfTransmission">Дата передачи: </label>
        <input class="form-control" type="date" th:field="*{actRTOffices.dateOfTransmission}" id="dateOfTransmission" required>
        <div th:if="${#fields.hasErrors('actRTOffices.dateOfTransmission')}"
             th:errors="*{actRTOffices.dateOfTransmission}">Date of transmission error</div>
        <br/>
        <label class="form-label" for="dateOfReception">Дата приемки (возврата): </label>
        <input class="form-control" type="date" th:field="*{actRTOffices.dateOfReception}" id="dateOfReception" aria-describedby="dateOfReceptionTip">
        <small id="dateOfReceptionTip" class="form-text text-muted">Если контрагент ещё пользуется оборудованием, оставьте поле пустым</small>
        <div th:if="${#fields.hasErrors('actRTOffices.dateOfReception')}"
             th:errors="*{actRTOffices.dateOfReception}">Date of reception error</div>
        <br/>
        <input class="btn btn-primary mb-3" type="submit" value="Создать">
    </form>
</div>

</body>
</html>