<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание номенклатуры</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Создание номенклатуры</h3>
    <form th:method="POST" th:action="@{/nomenclature}" th:object="${nomenclature}" style="display:inline">
        <label class="form-label" for="type">Tип: </label>
        <input class="form-control" type="text" th:field="*{type}" id="type" list="typeList" autocomplete="on" required>
        <datalist id="typeList">
            <option th:value="Терминал" th:text="Терминал">
            <option th:value="Пин-пад" th:text="Пин-пад">
            <option th:value="Клавиатура" th:text="Клавиатура">
        </datalist>
        <br/>
        <label class="form-label" for="producer">Производитель: </label>
        <input class="form-control" type="text" th:field="*{producer}" id="producer" required>
        <div th:if="${#fields.hasErrors()}" th:errors="*{producer}"></div>
        <br/>
        <label class="form-label" for="name">Модель: </label>
        <input class="form-control" type="text" th:field="*{name}" id="name" required>
        <div th:if="${#fields.hasErrors()}" th:errors="*{name}"></div>
        <br/>
        <input class="btn btn-primary mb-3" type="submit" value="Создать">
    </form>
<!--    <form th:method="GET" th:action="@{/nomenclature/show_all}" style="display:inline">
        <input class="btn btn-primary mb-3" type="submit" value="Вернуться назад"/>
    </form>-->
    <br/>
</div>
</body>
</html>