<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Создание акта с контрагентом</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Создание акта передачи оборудования с контрагентом</h3>
    <form th:method="POST" th:action="@{/companies_act}">
        <label class="form-label" for="company">Контрагент: </label>
        <input class="form-control" id="company" th:field="*{companyAct.company.inn}" list="companyList" autocomplete="off" required>
        <datalist id="companyList">
            <option th:each="company : ${companies}" th:value="${company.getInn()}" th:text="${company.getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('companyAct.company')}"
             th:errors="*{companyAct.company}">Company error</div>
<!--        <select class="form-control" th:field="*{companyAct.company.inn}" id="company" required>
            <option th:each="company : ${companies}" th:value="${company.getInn()}" th:text="${company.getName()}">
            </option>
        </select>-->
        <br/>
        <label class="form-label" for="device">Карточка оборудования: </label>
        <input class="form-control" id="device" th:field="*{companyAct.device.inventoryCard}" list="deviceList" required>
        <datalist id="deviceList">
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
                    th:text="${device.getNomenclature().getProducer()} + ' ' + ${device.getNomenclature().getName()}">
            </option>
        </datalist>
        <div th:if="${#fields.hasErrors('companyAct.device')}"
             th:errors="*{companyAct.device}">Device error</div>
        <!--        <select class="form-control" th:field="*{companyAct.device.inventoryCard}" id="device" required>
            <option th:each="device : ${devicesInStock}" th:value="${device.getInventoryCard()}"
            th:text="${device.getInventoryCard()} + ', ' + ${device.getNomenclature().getProducer()} +
            ' ' + ${device.getNomenclature().getName()}">
            </option>
        </select>-->
        <br/>
        <label class="form-label" for="dateOfTransmission">Дата передачи: </label>
        <input class="form-control" type="date" th:field="*{companyAct.dateOfTransmission}" id="dateOfTransmission" required>
        <div th:if="${#fields.hasErrors('companyAct.dateOfTransmission')}"
             th:errors="*{companyAct.dateOfTransmission}">Date of transmission error</div>
        <br/>
        <label class="form-label" for="dateOfReception">Дата приемки (возврата): </label>
        <input class="form-control" type="date" th:field="*{companyAct.dateOfReception}" id="dateOfReception" aria-describedby="dateOfReceptionTip">
        <small id="dateOfReceptionTip" class="form-text text-muted">Если контрагент ещё пользуется оборудованием, оставьте поле пустым</small>
        <div th:if="${#fields.hasErrors('companyAct.dateOfReception')}"
             th:errors="*{companyAct.dateOfReception}">Date of reception error</div>
        <br/>
<!--    <select th:field="*{companyAct.moving}" id="moving">
            <option th:each="moving: ${movings}" th:value="${moving}" th:text="${moving}"></option>
        </select>
        <br/>-->
        <input class="btn btn-primary mb-3" type="submit" value="Создать">
    </form>
</div>

</body>
</html>