<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Оборудование у контрагентов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.4/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/shim.min.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>

<div th:insert="property/navbar.html :: navbar"></div>

<div class="container">
    <h3>Оборудование у контрагентов</h3>
    <table class="table" id="currentActs" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Инвентарная карточка</th>
                <th scope="col">Серийный номер</th>
                <th scope="col">Производитель</th>
                <th scope="col">Модель</th>
                <th scope="col">Название организации</th>
                <th scope="col">ИНН</th>
                <th scope="col">Дата передачи</th>
            </tr>
        </thead>
        <tbody>
            <div th:each="act : ${currentActs}">
                <tr>
                    <td th:text="${act.getDevice().getInventoryCard()}"></td>
                    <td th:text="${act.getDevice().getSerialNumber()}"></td>
                    <td th:text="${act.getDevice().getNomenclature().getProducer()}"></td>
                    <td th:text="${act.getDevice().getNomenclature().getName()}"></td>
                    <td th:text="${act.getCompany().getName()}"></td>
                    <td th:text="${act.getCompany().getInn()}"></td>
                    <td th:text="${act.getDateOfTransmission()}"></td>
                </tr>
            </div>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary"
            onclick="exportToExcel()">Экспорт таблицы в Excel</button>
</div>

<script type="text/javascript">
    new DataTable('#currentActs', {
        order: [],
        language: {
            "decimal":        "",
            "emptyTable":     "В таблице отсутствуют данные",
            "info":           "Записи с _START_ до _END_ из _TOTAL_ записей",
            "infoEmpty":      "Записи с 0 до 0 из 0 записей",
            "infoFiltered":   "(отфильтровано из _MAX_ записей)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Число записей: _MENU_",
            "loadingRecords": "Загрузка...",
            "processing":     "",
            "search":         "Поиск:",
            "zeroRecords":    "Подходящие записи не найдены",
            "paginate": {
                    "first":      "Первый",
                    "last":       "Последний",
                    "next":       "Следующий",
                    "previous":   "Предыдущий"
            },
            "aria": {
                "orderable":  "Сортировать по колонке",
                "orderableReverse": "Сортировать по колонке в обратном порядке"
            }
        },
            /*        layout: {
                        topStart: null,
                        topEnd: null,
                        topStart: 'search',
                        topEnd: 'pageLength',
                        bottomStart: 'info',
                        bottomEnd: 'paging'
                    },*/
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'Все', value: -1 }]
    });
</script>

<script type="text/javascript">
    function exportToExcel(){
        var workbook = XLSX.utils.book_new();
        var worksheet = XLSX.utils.table_to_sheet(document.getElementById("currentActs"), raw=true);

        var columnB = XLSX.utils.decode_col("B");
        var columnF = XLSX.utils.decode_col("F");
        var range = XLSX.utils.decode_range(worksheet['!ref']);
        for(var i = range.s.r + 1; i <= range.e.r; ++i) {
            var refB = XLSX.utils.encode_cell({r:i, c:columnB});
            if(!worksheet[refB]) continue;
            var refF = XLSX.utils.encode_cell({r:i, c:columnF});
            worksheet[refB].t = 's';
            worksheet[refF].t = 's';
        }
        worksheet['!cols'] = [ {width: 20}, {width: 16}, {width: 14}, {width: 9},
            {width: 25}, {width: 11}, {width: 14}];
        XLSX.utils.book_append_sheet(workbook, worksheet, "Оборудование у контрагентов");
        XLSX.writeFile(workbook, "Оборудование у контрагентов.xlsx");
    }
</script>

</body>
</html>