h2 {
    color: cadetblue;
}

a{
    color: black;
}

h3{
    color: darkblue;
    font-family: Arial;
}

tr, td{
    color: #506dff;
}

div{
    color: red;
}

title{
    color: darkmagenta;
}

.inp{
    display: flex;
}
